.chart{
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  
    margin: 0 1rem;
}
@media screen and (max-width:800px) {
    .chart{
        padding: 1rem;
        border-radius: 12px;
        /* background-color: #FFD39A; */
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        height: 10rem;
  
        /* margin: 0 0.5rem; */
    }   
}