
.form {
  /* background-color: white; */
  border-radius: 20px;
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8b3JhbmdlJTIwZ3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80 ");
  background-size: cover;
    background-repeat: no-repeat;
   margin-top: 3rem; 
  color: white;

  padding: 20px;
  width: 35%;
  /* border: 1px solid black; */
}

.title {
  
  color: white;
  

  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  /* margin-top: 30px; */
}

.subtitle {
  
  color: white;
  text-align: center;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  ;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: white;
  border-radius: 12px;
  
  border: 1px solid white;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: black;

  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: black;

}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin: 1rem 0;
  outline: 0;
  text-align: center;
  width: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKT2TRV8olFZ50J4wfrHWpYMA9qJmSZT02cTtWEI-J&s");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.submit:active {
  background-color: #06b;
}
/* .buttoncontainer{
  margin: 2rem 1rem ;
  display: flex;
  justify-content: space-between;
} */
.input-container input{
  text-align: center;
  align-items: center;
}
.addexpense{
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKT2TRV8olFZ50J4wfrHWpYMA9qJmSZT02cTtWEI-J&s");
  background-size: cover;
  background-repeat: no-repeat;
  
  margin-top: 0 1rem;
  outline: 0;
  text-align: center;
  width: 100%;
}
@media(max-width:725px){
  .form {
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
   
  
    padding: 20px;
    width: 80%;
    border: 1px solid black;
  
}
}