 .App{
    /* width: 50%; */
    /* /* height: 100%; */
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.container{
    width: 65%; 
 }
 body {
   /* background-image:url("https://source.unsplash.com/1600x900/?budget"); */
   background-repeat: no-repeat;
   background-size: cover;
 } 
 @media (max-width:650px){
   .container{
      width: 90%; 
   }
   
 }