
.card{
    border: 1px solid #293462;
    margin: 1rem;
    border-radius: 20px;
    background-color: #CFD2CF;
}
/* @media screen and (max-width:880px){
    .card{
        
        /* margin:0px 50px;     ; */
    /* }
} */